<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ivan.kovalenko.notenote"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="ivan.kovalenko.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Note_action_bar_style" >
        <activity
            android:name="ivan.kovalenko.login.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ivan.kovalenko.note.NoteActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="ivan.kovalenko.note.ChengPasswordActivity"
            android:label="@string/action_changePassword" >
        </activity>
        <activity
            android:name="ivan.kovalenko.note.NewNoteActivity"
            android:label="@string/action_addNoteIcon" >
        </activity>
        <activity
            android:name="ivan.kovalenko.note.EditNoteActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="ivan.kovalenko.LoadingDialogFragment"
            android:label="@string/loading"
            android:theme="@android:style/Theme.Dialog" >
            >
        </activity>

        <data android:mimeType="vnd.android.cursor.dir/vnd.pmp.smsmessage" />

        <provider
            android:name="ivan.kovalenko.database.Provider"
            android:authorities="ivan.kovalenko.database"
            android:exported="false" >
        </provider>
    </application>

</manifest>